.main{
    background-color: whitesmoke;
}
footer{
    background-color: whitesmoke;
}
.container {
    display: block;
    background-color:#f2e4de;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: center;
    font: 1.2em sans-serif;
    margin: auto;
    color: black;
    text-align: center;
}
p{
    padding-top: 15px;
}
.cont{
    display:inline-flexbox;
    background-color:white;
    color: rgb(0, 0, 0);
    font: 1.2em sans-serif;
    margin: auto;
    color: black;
    text-align: center;
}
.bloco1{
    margin-top: 0%;
    display: inline-block;
    width: 400px;

}
h2{
    margin-bottom:30px;
    
}
