.main{
    background-color: whitesmoke;
}
footer{
    background-color: whitesmoke;
}
.container {
    display:block;
    background-color:#F0F2DF;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: center;
    font: 1.2em sans-serif;
    margin: auto;
    
}
.cont{
    flex: auto;
}
